article {
  width: 360px;
  background: $color-bg-articles;
}

.conteneur {
  display: flex;
  justify-content: center;
}

.articles {
  width: 1140px;
  max-height: 524px;

  display: flex;
  justify-content: space-between;

  margin: 30px 0 30px 0;
}

.html {
  background: $color-bg-html;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.css {
  background: $color-bg-css;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.javascript {
  background: $color-bg-js;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}