header {
  height: 61px;
  background: $color-bg-header;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  list-style: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0;

  font-size: $fz-normal;
  width: 1140px;
}

header ul li {
  padding: 20px;
}